body{
    background-color: rgb(250, 250, 250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    color: red;
    font-family: 'Special Elite', cursive;
    text-decoration:underline;
}


.image{
    background-image: url('../src/image/covid19.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
    
}

@media(max-width: 770px){
    .container{
        margin:0 10%;
    }
    .image{
        width:100%;
    }
}